<div class="gch-home container-fluid">
    <%= image_tag "Sbg_Nonntal_Untersberg.JPG", :class => "backgroundpic" %>
    <h1>Geoffrey C. Howes</h1>
    <div class="geoff-main">
        <%= image_tag "Howes_Head_Shot.jpg", :class => "headshot" %>
    </div>
    <h3>Literary Translator</h3>
    <h5>German to English</h5>
    <h5>Specializing in Austrian Literature</h5>
</div>

<div class="gch-about container-fluid">
    <h1>About the Translator</h1>
    <h3>Geoffrey C. Howes has published four books translated from German to English:</h3>
    <div class="row">
        <div class="gch-book col-md-6">
            <!--<p class="gch-book-blurb">-->
            <!--    "The title notwithstanding, the novellas in Three Women tell the stories of three men. The three women are seen from the distinctly masculine perspectives of the three male protagonists, and they have the literary role of catalysts for the men’s experiences, as the separate worlds the men and women inhabit intersect in sexual association. Besides gender roles, other differences confront each other as well: educated middle class versus petite bourgeoisie; German versus Czech; northern Europe versus southern Europe; adventure versus domesticity; and modernity versus pre-modernity."-->
            <!--<br><br>&mdash;From the translator’s foreword</p>-->
            <%= image_tag "Three_Women_Cover.jpeg", :class => "gch-book-inner" %>
        </div>
        <div class="gch-book col-md-6">
            <%= image_tag "Metropolis_Vienna_Cover 1.jpeg", :class => "gch-book-inner" %>
        </div>
    </div>
    <div class="row">
        <div class="gch-book col-md-6">
            <%= image_tag "Whole_of_Life_Cover 1.jpeg", :class => "gch-book-inner" %>
        </div>
        <div class="gch-book col-md-6">
            <%= image_tag "Ruthless_Cover.jpeg", :class => "gch-book-inner" %>
        </div>
    </div>
        <!--<ul class="about">-->
        <!--    <li>Robert Musil, Three Women (Green Integer, 2014).</li>-->
        <!--    <li>Jürg Laederach, The Whole of Life (Dalkey Archive, 2014)</li>-->
        <!--    <li>Peter Rosei, Metropolis Vienna (Green Integer, 2009)</li>-->
        <!--    <li>Peter Rosei, Ruthless and Other Writings (Ariadne Press, 2003)</li>-->
        <!--</ul>-->
    
    <p>
        He is also co-translator with Elfriede Czurda of <em>Rosmarie Waldrop, Ins Abstrakte treiben</em> (Vienna: Edition Korrespondenzen, 2015). 
    </p>
    <p>
        He has published numerous shorter translations, including texts by Dieter Sperl, Doron Rabinovici, Jürg Laederach, Lilian Faschinger, Susanne Ayoub, Franzobel, Evelyn Schlag, Walter Grond, Margret Kreidl, Lucas Cejpek, Gabriele Petricek, Erich Wolfgang Skwara, and Gerhard Kofler, in periodicals, anthologies, web sites, and catalogues, including Dimension2, The Review of Contemporary Fiction, Feribord, and Borderlands.
    </p>
    <p>
        Professor emeritus of German at Bowling Green State University in Ohio, Howes has also published over thirty scholarly articles on topics in Austrian literature and culture and was co-editor, with Jacqueline Vansant, of Modern Austrian Literature from 2000-2005.
    </p>
</div>

<div class="gch-bibliography container-fluid">
    <h1>Bibliography</h1>
    <h4>Translated Books</h4>
        <ul class="biblio">
            <li>Rosmarie Waldrop, Ins Abstrakte treiben (Driven to Abstraction). Amerikanisch/Deutsch. Translated by Elfriede Czurda and Geoff Howes. Vienna: Edition Korrespondenzen, 2015.</li>
            <li>Robert Musil, Three Women (Drei Frauen). Copenhagen and Los Angeles: Green Integer Press, 2014. (e-book and paperback)</li>
            <li>Jürg Laederach, The Whole of Life (Das ganze Leben). A novel. Champaign, London, Dublin: Dalkey Archive Press, 2014. (Kindle and paperback)</li>
            <li>Peter Rosei, Metropolis Vienna (Wien Metropolis). A Novel. Copenhagen and Los Angeles: Green Integer Press, 2009.</li>
            <li>Peter Rosei, Ruthless and Other Writings. Translated and with an afterword by Geoffrey Howes. Riverside, CA: Ariadne Press, 2003.</li>
        </ul>
    <h4>Translations in Journals and Collections and on Web Sites</h4>
        <ul class="biblio">
            <li>Lucas Cejpek, “Standing Man.” FixPoetry Text des Tages 20 Oct 2015. http://www.fixpoetry.com/texte/text-des-tages/lucas-cejpek/standing-man</li>
            <li>Lilian Faschinger, “Two Excerpts from Town Full of Losers, an English Translation of Lilian Faschinger’s novel Stadt der Verlierer by Geoffrey C. Howes.” Winning Back Lost Territory: The Writing of Lilian Faschinger. Ed. Laura McLary and Vincent Kling. Riverside, CA: Ariadne Press, 2014. 284-95.</li>
            <li>Dieter Sperl, “From absichtslos (unintentional, 2007).” The Review of Contemporary Fiction 33/2, Translations in Progress (Summer 2013), 172-82.</li>
            <li>Margret Kreidl, Excerpts from Einfache Erklärung. Feribord: Zeitschrift für Literatur und Kunst7 (Nov 2013). Ed. Gerhard Jaschke.</li>
            <li>Jürg Laederach, “From The Whole of Life.” The Review of Contemporary Fiction 33/1, Dalkey Archive Annual 4 (Spring 2013), 72-79.</li>
            <li>Lucas Cejpek, “I am There.” Jonas Mekas. Österreichisches Filmmuseum, 2013. http://www.filmmuseum.at/jart/prj3/filmmuseum/main.jart?rel=en&contentid=1219068743272&schienen_id=1355220831449</li>
            <li>Peter Rosei, a selection of poems from Viel früher, trans. by Geoffrey Howes in Ruthless and Other Writings (Riverside, CA: Ariadne, 2003). The PIP (Project for Innovative Poetry) Blog. Ed. Douglas Messerli (2013). http://pippoetry.blogspot.com/2013/03/peter-rosei.html</li>
            <li>Margret Kreidl, “Experimental Series Red.” Gue Schmidt, Retrospective. Vienna: transferEDITION, 2012, 32-35.</li>
            <li>In Zwei Wochen England. Ed. Heide Kunzelmann. Vienna: Sonderzahl, 2012: </li>
            <li>
                <ul class="biblio-sub">
                    <li>Peter Mikl, “Foreword” 8-11;</li>
                    <li>Martin Liebscher, “Aquilegia Caerulea for Musil, or English Football’s Debt to Stefan Zweig,” 12-18; </li>
                    <li>Walter Grond, “A Sojourn, Writing, in London,” 22-26;</li>
                    <li>Doron Rabinovici, “On Writing for Myself,” 30-42; </li>
                    <li>Lilian Faschinger, “Three Poems,” 60-68; </li>
                    <li>Gabriele Petricek, “On the Zero Meridian,” 106-26; </li>
                    <li>Evelyn Schlag, “Is Bohemia on the Sea” 148-50; </li>
                    <li>Erich Wolfgang Skwara, “Three Poems,” 170-74; </li>
                    <li>Franzobel, “Why Formula One Racing Will Return to Austria,” “England is Hot; What about Us?,” and “Yet Another Beckham Outing,” 202-16; </li>
                    <li>Heide Kunzelmann, “The Zero Meridian as Vanishing Point: Notes on Austrian Texts About England,” 218-30.</li>
                </ul>
            </li>
            <li>Dieter Sperl, “Casual Observations” 1, 2, & 3. (“Lose Betrachtungen” 1, 2 und 3), in Sebastian Weissenbacher, Etüden für Fortgeschrittene / Etudes for the Advanced, mit Texten von Lucas Cuturi und Dieter Sperl). Vienna: VBK, 2010, pages 13, 32, 46.</li>
            <li>Lucas Cejpek, "Workportrait Thomas Kosma. Talking with Lucas Cejpek." In Thomas Kosma: Arbeiten 1993-2010. Anlässlich der Ausstellung Knochenbarock, base-level, Wien. Klosterneuburg 2010, 34-54.</li>
            <li>Susanne Ayoub, “Maughter & Dother” (“Muchter & Totter”), Borderlands: Texas Poetry Review 34 (Spring/Summer 2010), 54-55.</li>
            <li>Margret Kreidl, “Quick Shots 1” (Schnelle Schüsse 1). Ars poetica. Festival poézie Bratislava, 2007. Published on line at: http://www.arspoetica.sk/2007/?lang=eng&kreidl.</li>
            <li>Doron Rabinovici, Anyway (Ohnehin). Excerpts. Dimension2. 9/1-2 (2007), 132-53.</li>
            <li>Gerhard Kofler, Excerpts from Poesie da calendario / Am Rand der Tage / Edge of Days; Il posto esposto / Der ausgesetzte Platz / Exposed Position; Poesie di mare e terra / Poesie von Meer und Erde / Poems from Sea and Earth; Poesie di mare, terra e cielo / Poesie von Meer, Erde und Himmel / Poems from Sea, Earth and Sky (2001). http://members.chello.at/gerhard.kofler/extracts.htm</li>
        </ul>
    <h4>Publications on Translation</h4>
        <ul class="biblio">
            <li>“A Note on Translating Lilian Faschinger’s Stadt der Verlierer (Town Full of Losers).” Winning Back Lost Territory: The Writing of Lilian Faschinger. Ed. Laura McLary and Vincent Kling. Riverside, CA: Ariadne Press, 2014. 275-83.</li>
            <li>“Texte Peter Roseis auf dem Weg ins Amerikanische: Der Rhythmus als Übersetzungsprinzip.” Advanced Rosei. Ed. Clemens Stepina. Vienna: Sonderzahl, 2011. 141-56.</li>
            <li>“Column: The Challenge.” 12 Swiss Books Recommended for Translation 2014. http://www.prohelvetia.ch/Columns.3389.0.html?&L=4</li>
        </ul>
    <h4>Presentations on Translation</h4>
        <ul class="biblio">
            <li>“Als Fremder unterwegs in Wien Metropolis.” “Fest für Peter Rosei.” Salzkammergut Festwochen Gmunden, Gmunden, Austria, July 30-August 2, 2015.</li>
            <li>“Making Doderer Palatable: Translating His Repertory.” For the session “The Politics of Defamation: Heimito von Doderer’s Reputation in English.” American Literary Translators Association (ALTA) Conference. 13 Nov 2014, Milwaukee.</li>
            <li>“’The Whole of Life’: Literary Translation as Intercultural Communication.” Bowling Green State University College of Arts and Sciences Distinguished Faculty Lecture, Oct. 28, 2014.</li>
            <li>“Übersetzen als Deuten: Texte Peter Roseis auf dem Weg ins Amerikanische.” Symposium zum 65. Geburtstag von Peter Rosei, 15-16 April 2011. Internationales Theaterinstitut der UNESCO – Centrum Österreich, Vienna, Austria.</li>
            <li>"Die dritte Sprache. Erfahrungen beim Übersetzen der Gedichte Gerhard Koflers ins Amerikanische." la memoria delle onde / das gedächtnis der wellen. A Two-Day Symposium On The Work Of The Poet Gerhard Kofler (1949-2005). Bozen/Bolzano, Italy, September 2006.</li>
            <li>“Translating Rhythm in Prose, German to English.” The Binghamton University German Studies Colloquium 2012: “Doppelgängers and Fraternal Twins: Translations in German Studies,” Binghamton University, April 20/21, 2012.</li>
            <li>"One Poem, Three Languages? Translation as a Doorway to Gerhard Kofler’s Italian-German Tandem Poetry." Midwest Modern Language Association, Chicago, Nov. 7-9, 2003.</li>
        </ul>
    <h4>Radio Broadcast</h4>
        <ul class="biblio">
            <li>“Wie wir zusammen kamen: Der Schriftsteller Peter Rosei und sein amerikanischer Übersetzer Geoffrey Howes.” Moment: Leben heute, a feature of Ö1 (First Austrian Radio), Austrian Broadcasting Corporation, broadcast June 24, 2014. (Radio interview with Peter Rosei and his translator Geoffrey Howes.)</li>
        </ul>
    <h4>Translation-Related Book Reviews</h4>
        <ul class="biblio">
            <li>Anna Mitgutsch, House of Childhood. Transl. by David Dollenmayer. (2006). Modern Austrian Literature 42.1 (2009), 147-49.</li>
            <li>Fritz von Herzmanovsky-Orlando. The Tragic Demise of a Faithful Court Official. Translated and with an afterword by David A. Veeder. 1997. (http://www.h-net.msu.edu/reviews/showrev.cgi?path=2228881707820).</li>
            <li>Robert Musil, Precision and Soul: Essays and Addresses. Ed. and trl. B. Pike and D. Luft. 1990. Austrian History Yearbook 1993, 250-51.</li>
            <li>Robert Musil, On Mach's Theories. 1982. Modern Austrian Literature 21 (1988), 123. </li>
            <li>Robert Musil, Selected Writings. 1986. Unterrichtspraxis 20 (1987), 354-55.</li>
            <li>Arthur Schnitzler, Plays and Stories. 1982. Unterrichtspraxis 20 (1987), 144-45.</li>
        </ul>
</div>

<div class="gch-contact container-fluid">
    <h1>Contact Geoffrey</h1>
    <div class="big-email-icon">
        <%= link_to image_tag("envelope.png"), "mailto:howesgeoffrey@hotmail.com" %>
    </div>
</div>