<header class="bighead navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <%= link_to "Geoffrey C. Howes", root_path, id: "logo" %>
      <nav>
        <ul class="smallhead nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path, id: "homelink" %></li>
          <li><%= link_to "About",   "#", id: "aboutlink" %></li>
          <li><%= link_to "Bibliography", "#", id: "bibliographyink" %></li>
          <li><%= link_to "Contact", "#", id: "contactlink" %></li>
          <li><%= link_to "Blog", "http://www.alpsandditches.com", id: "bloglink", target: "_blank" %></li>
        </ul>
      </nav>
    </div>
</header>
